
* Import Necessary Modules Used throughout the task

In [1]:
from tweepy import OAuthHandler
from tweepy import API
from tweepy import Cursor
from datetime import datetime, date, time, timedelta
from collections import Counter
import time
import json
import pandas as pd
import numpy as np



1. To begin the process we need to register our client application with Twitter and create a new application.
2. The below block is used to perform authentication after creating necessary tokens.

In [2]:
#Variables that contains the user credentials to access Twitter API 
access_token = ""
access_token_secret = ""
consumer_key = ""
consumer_secret = ""

auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
auth_api = API(auth)


1. Create the account for which we want to fetch the Tweets.
2. To help make pagination easier and require less code Tweepy has the Cursor object.
3. For all statuses, i take its json response and append into a list
4. Finlly, The array of Json object is written to a file

In [3]:
account_list=["midasIIITD"]

d=[]
for status in Cursor(auth_api.user_timeline, id=account_list[0]).items():
    d.append(status._json)

with open('data_json.txt', 'w') as outfile:  
    json.dump(d,outfile)

* This block loads data from the file into jsondata *

In [8]:
with open('data_json.txt') as f:
    jsondata = json.load(f)

#print jsondata

* The objective is to create a ndarray of number of tweets X 5. An example is shown below *

| Text | Date                         |Likes| Retweet | Image Count |
|------|------------------------------|-----|---------|-------------|
|asdfaa|Sat Apr 06 17:11:29 +0000 2019| 0   |   5     |    None     |

1. Create an empty list to store each tweet's filtered results
2. Travel through Json Data and for each tweet,
> - Check if 'media' exists in entities. If yes, then I look for all media of type photos and increase my count for images.
> - Append Relevant fields in the final_data list. If no images are present the write "None" as the last field.
3. Convert to dataframe and print the results

In [13]:

final_data = []

for i in jsondata:
    ct=0
    if('media' in i['entities']):
        for j in i['entities']['media']:
            if(j['type']=='photo'):
                ct+=1
    if ct==0:
        final_data.append([i['text'],i['created_at'],i['favorite_count'],i['retweet_count'],"None"])
    else:
        final_data.append([i['text'],i['created_at'],i['favorite_count'],i['retweet_count'],ct])



df = pd.DataFrame(data=final_data,columns=['Text','Date','Likes','Retweet','Image Count'])

# print(jsondata[0])

print (df)
export_csv = df.to_csv (r'final.csv', index_label = ["No."], header=True) #Don't forget to add '.csv' at the end of the path

                                                  Text  \
0    RT @kdnuggets: Top 8 #Free Must-Read #Books on...
1    @nupur_baghel @PennDATS Congratulation @nupur_...
2    We have emailed the task details to all candid...
3    RT @rfpvjr: Our NAACL paper on polarization in...
4    RT @kdnuggets: Effective Transfer Learning For...
5    RT @stanfordnlp: Whatâ€™s new in @Stanford CS224...
6    RT @DeepMindAI: Today we're releasing a large-...
7    RT @ylecun: Congratulations Jitendra Malik !\n...
8    RT @IIITDelhi: Another chance to take admissio...
9    Dear @midasIIITD internship candidates who hav...
10   Looking forward to your paper submission to @I...
11   RT @ngrams: Reproducibility in multimedia rese...
12   Online application for https://t.co/DJFDrQsHZP...
13   RT @ACMMM19: A final reminder of the Reproduci...
14   RT @isarth23: Thanks for the support and help ...
15   Since SemEval-2019 will be held June 6-7, 2019...
16   +@aggarwal_kartik.\nCongrats! Wish you many mo...
17   RT @aggarwal_kartik: Our work (@midasIIITD ) a...
18   Congratulations! @midasIIITD team, @isarth23 @...
19   @EEMLcommunity @radamihalcea too many deadline...
20   RT @stanfordnlp: CS224N Natural Language Proce...
21   RT @ylecun: Learn PyTorch by running on Google...
22   Dr. Vineeth N Balasubramanian will present a T...
23   RT @ylecun: I am extremely honored to be the r...
24   Thanks to all shortlisted candidates for submi...
25   @IEEEBigMM19 @ACMMM19 and 6 days left for work...
26   RT @IEEEBigMM19: Hurry Up!\n6 Days left for Ab...
27   Congratulations @midasIIITD students Simra Sha...
28   The last date for submitting a solution for th...
29   RT @IIITDelhi: @IIITDelhi invites application ...
..                                                 ...
299  RT @TensorFlow: TensorFlow 1.10.0 has been rel...
300  @midasIIITD is looking for motivated IIITD MTe...
301  @IIITDelhi @ponguru @RatnRajiv The results of ...
302  RT @IIITDelhi: @midasIIITD has secured rank 1 ...
303  RT @kdnuggets: Comparison of Top 6 Python NLP ...
304  Check more details of the 20th IEEE Internatio...
305  MR2AMC@ISM 2018 will be organized by @RatnRaji...
306  Our workshop proposal named, "MR2AMC: Multimod...
307  @NUSComputing Congratulations Abdelhak and Pro...
308  RT @goodfellow_ian: One of the most anticipate...
309     @the_dhumketu Great to have you in @midasIIITD
310  Congratulation @soujanyaporia for being appoin...
311  @IIITDelhi @the_dhumketu Thanks team @midasIII...
312  RT @IIITDelhi: Congratulations @midasIIITD int...
313  RT @learning_pt: Profile of the 5 Indian under...
314  Have a look at the list of accepted papers in ...
315  RT @goodfellow_ian: https://t.co/hYiWI7ntyk Te...
316  RT @IIITDelhi: Congratulations Dr. @RatnRajiv ...
317  RT @ylecun: Jitendra Malik, who directs FAIR-M...
318  RT @kdnuggets: .@Bloomberg launches free cours...
319  RT @TechAtBloomberg: Missed #PyLondinium18? Wa...
320  RT @IIITDelhi: We are delighted to announce th...
321  Get ready for the annual technical fest of @II...
322  Congratulations Dr. @RatnRajiv and team @midas...
323  Congratulations MIDAS @midasIIITD intern Prakh...
324    MIDAS@IIITD foundation. https://t.co/LKuzyBHzjm
325  It feels great to be the part of @IIITDelhi. h...
326  Thank you, @toonzratn for designing the logo o...
327  We are on Facebook too. Like our page to get o...
328  MIDAS is a group of researchers at IIIT-Delhi ...

                               Date  Likes  Retweet Image Count
0    Sat Apr 06 17:11:29 +0000 2019      0        2        None
1    Sat Apr 06 16:43:27 +0000 2019     11        3        None
2    Fri Apr 05 16:08:37 +0000 2019      8        1        None
3    Fri Apr 05 04:05:11 +0000 2019      0       16        None
4    Fri Apr 05 04:04:43 +0000 2019      0       10           1
5    Wed Apr 03 18:31:53 +0000 2019      0       57        None
6    Wed Apr 03 17:04:32 +0000 2019      0      844        None
7    Wed Apr 03 09:03:40 +0000 2019      0       16        None
8    Wed Apr 03 07:46:02 +0000 2019      0        4        None
9    Tue Apr 02 04:20:13 +0000 2019      8        1        None
10   Tue Apr 02 02:44:54 +0000 2019      5        1        None
11   Tue Apr 02 02:35:44 +0000 2019      0        7        None
12   Mon Apr 01 06:53:08 +0000 2019      7        2        None
13   Sun Mar 31 10:21:24 +0000 2019      0       10        None
14   Fri Mar 29 19:43:24 +0000 2019      0        2        None
15   Fri Mar 29 17:16:40 +0000 2019      9        1        None
16   Fri Mar 29 17:04:30 +0000 2019      2        0        None
17   Fri Mar 29 17:03:29 +0000 2019      0        1        None
18   Fri Mar 29 17:02:24 +0000 2019      9        1        None
19   Fri Mar 29 05:35:22 +0000 2019      0        0        None
20   Thu Mar 28 16:55:01 +0000 2019      0      712        None
21   Thu Mar 28 16:54:37 +0000 2019      0      157        None
22   Wed Mar 27 16:09:09 +0000 2019      4        1        None
23   Wed Mar 27 11:53:40 +0000 2019      0     1544        None
24   Tue Mar 26 18:12:27 +0000 2019      5        1        None
25   Tue Mar 26 05:54:49 +0000 2019      2        0        None
26   Tue Mar 26 05:50:10 +0000 2019      0        3        None
27   Mon Mar 25 13:01:57 +0000 2019     18        1        None
28   Sun Mar 24 18:44:01 +0000 2019      8        3        None
29   Sun Mar 24 18:26:02 +0000 2019      0        4        None
..                              ...    ...      ...         ...
299  Thu Aug 09 05:59:57 +0000 2018      0      265        None
300  Wed Aug 08 11:30:56 +0000 2018      2        1        None
301  Wed Aug 08 05:53:48 +0000 2018      3        1           1
302  Wed Aug 08 05:45:58 +0000 2018      0        1        None
303  Tue Aug 07 07:16:33 +0000 2018      0       40           1
304  Tue Aug 07 02:05:12 +0000 2018      1        1        None
305  Tue Aug 07 01:58:49 +0000 2018      1        1        None
306  Tue Aug 07 01:50:33 +0000 2018      1        1        None
307  Mon Aug 06 17:48:23 +0000 2018      0        0        None
308  Mon Aug 06 17:46:59 +0000 2018      0      103           1
309  Mon Aug 06 06:06:47 +0000 2018      0        0        None
310  Fri Aug 03 05:56:33 +0000 2018      6        1        None
311  Wed Aug 01 11:47:15 +0000 2018      5        1           1
312  Wed Aug 01 11:20:07 +0000 2018      0        4        None
313  Wed Aug 01 05:06:47 +0000 2018      0        4        None
314  Tue Jul 31 12:11:52 +0000 2018      1        0        None
315  Tue Jul 31 02:06:26 +0000 2018      0      264        None
316  Mon Jul 30 07:30:51 +0000 2018      0        2        None
317  Sat Jul 28 11:07:11 +0000 2018      0       57        None
318  Sat Jul 28 06:14:09 +0000 2018      0      105        None
319  Sat Jul 28 06:13:48 +0000 2018      0        7        None
320  Sat Jul 28 04:08:21 +0000 2018      0        6        None
321  Fri Jul 27 06:46:44 +0000 2018      3        2        None
322  Fri Jul 27 04:07:31 +0000 2018      8        2        None
323  Wed Jul 25 05:14:35 +0000 2018      5        1        None
324  Tue Jul 24 10:33:23 +0000 2018      2        1        None
325  Tue Jul 24 10:12:34 +0000 2018      2        1        None
326  Tue Jul 24 09:46:26 +0000 2018      4        1           1
327  Mon Jul 23 16:25:05 +0000 2018      3        1        None
328  Mon Jul 23 12:53:15 +0000 2018      7        4        None

[329 rows x 5 columns]